<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @email.titulo %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @email.corpo %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
